#webcamVideo {
  max-height: 300px;
  max-width: 400px;
}

#label-header {
  font-size: 20px;
  text-align: center;
}

#divider {
  width: 2px;
  height: 300px;
  background-color: dimgray;
}

#uploadContainer {
  height: 303px;
  width: 450px;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

#center {
  margin: 0 auto;
  text-align: center;
}

.preview {
  height: 260px;
}

.center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContent {
  margin-top: 70px;
}

.trackerContainer {
  position: relative;
  margin: 0 auto;
}

.trackerVideo {
  top: 0;
  left: 0;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/*#trackCanvas {         */
/*  position: "absolute";*/
/*  marginleft: "auto";  */
/*  marginright: "auto"; */
/*  left: 0;             */
/*  right: 0;            */
/*  textalign: "center"; */
/*  zindex: 8;           */
/*  width: 640;          */
/*  height: 480;         */
/*}                      */

#cameraConnect {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 940px) {
  #divider {
    display: none;
  }

  #dividerGrid {
    height: 0px;
    display: none;
  }

  #dividerHorizontal {
    width: 400px;
    height: 2px;
    background-color: dimgray;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
