#buttonContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

#buttonGrid {
  display: flexbox;
  justify-content: flex-end;
}

#cancelButton {
  border-width: 1.5px;
  margin-right: 10px;
}

#startButton {
  margin-right: 30px;
}
