#buttonContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

#buttonGrid {
  display: flexbox;
  justify-content: flex-end;
}

#cancelButton {
  border-width: 1.5px;
  margin-right: 10px;
}

#quitButton {
  margin-right: 30px;
}

#runningGrid {
  display: flex;
  justify-content: flex-end;
}

#runMessage {
  font-size: larger;
  font-weight: bold;
}

#startButton {
  margin-right: 30px;
}
