#siteHeader {
  height: 50px;
  font-family: Arial;
}

#headerTop {
  background-color: #18563e;
}

#headerBottom {
  background-color: #484848;
  color: white;
  padding: 10px;
}

#headerLogo {
  height: 60px;
  cursor: pointer;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}

#usernameLogo {
  height: 60px;
  cursor: pointer;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}

#accountIcon {
  float: right;
  color: #ffd033;
  border: none;
  cursor: pointer;
  margin: 18px;
  padding: 0;
  overflow: auto;
}

<meta name="viewport" content="initial-scale=1, width=device-width" />
@media screen and (max-width: 500px) {
  .alignIcon a {
    float: none;
    display: block;
  }
}

.dropbtn {
  float: right;
  background-color: #18563e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  overflow-wrap: anywhere;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

