#customField {
  max-width: 150px;
  max-height: 15px;
  background-color: white;
  border-radius: 3px;
}

#groupLabel {
  color: #484848;
  font-size: large;
  font-weight: bold;
}

#innerGrid {
  display: flex;
  justify-content: center;
}

#optionContainer {
  margin-top: 500px;
  margin-left: 30px;
  margin-right: 30px;
}
#optionGrid {
  justify-content: center;
}

#radioContainer {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

#sectionTitle {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  color: #484848;
}

#sectionTitleBox {
  border-top: 1.5px solid #484848;
  border-bottom: 1.5px solid #484848;
}
